@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18181b;
  --bordercolor: #CACACA;
  --text-secondary: #9f9faa;
  --text-red: #f31818;
  --bttn-bg: #18181b;
  --text-hover: #222121;
  --text-hover-invert: #d1ccb4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-text-secondary: var(--text-secondary);
  --color-bg-error: #fef2f2;
  --color-border-error: #fecaca;
  --color-text-hover: var(--text-hover);
  --color-text-hover-inv: var(--text-hover-invert);
  --color-text-error: var(--text-red);
  --color-border-default: #e4e4e7;
  --color-bttn-bg: var(--bttn-bg);

  /* Тёмная тема (суффикс -dark) */
  --color-bg-error-dark: #450a0a;
  --color-border-default-dark: #979172;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #d1ccb4;
    --text-secondary: #9a9aa7;
    --text-red: #d33b3b;
    --bttn-bg: #d1ccb4;
    --text-hover: #a19e9e;
    --text-hover-invert: #18181b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}